/* Typical Device Breakpoints

==================

Telas pequeneas: até 600px
Celulares: de 600px até 768px
Tablets: de 768px até 992px
Desktops: de 992px até 1200px
Telas grandes: acima de 1200px

====================

*/

@media screen and (min-width: 650px) and (max-width: 950px){
    .pesquisa{
        display: none;
    }
    .div_pesquisa_full{
        display: block;
        position: relative;
        top: 10%;
        width: 100%;
    }
    
}

@media screen and (min-width: 950px) {
        .pesquisa, .barrinha, .div_pesquisa, #menu_hamburguer{
            display: none;
        }

        .menu{
            justify-content: center;
            gap: 60px;
        }

        .div_logo{
            width: 180px;
        }

        .conta, .pedidos{
            display: block;
        }

        .div_pesquisa_full{
            display: block;
            position: relative;
            top: 10%;
            width: 1000px;
        }


        .navegacao{
            display: flex;
            justify-content: center;
            gap: 30px;
            background-color: var(--cor3);
            height: 50px;
        }

        .itens_nav{
            display: flex;
            align-items: center;
            padding: 0px 20px;
        }

        .itens_nav:hover{
            background-color: var(--cor1);
        }

        .itens_nav > a{
            color: white;
            font-weight: bold;
        }

       
}

