@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Indie+Flower&display=swap');

/* Configuração para celulares */

:root{
    --cor0: #F77293;
    --cor1: #EB6C8C;
    --cor2: #D1607C; 
    --cor3: #AB4F66;
    --cor4: #6B3140;
    --fonte: 'Fira Sans';
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Fira Sans';
}

html, body{
    height: 100vh;
}

.fundo{
    width: 100vw;
    height: 100vh;
    background-color: var(--cor0);
}

.div-imagem{
    width: 100%;
    height: 100%;
}

.imagem{
    position: relative;
    display: inline-block;
    background-image: url(../imagens/Meu\ projeto.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 220px;
}

.rem{
    position: relative;
    background-image: url(../imagens/Meu\ projeto.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    max-width: 220px;
    transform: scaleY(-1);
    top: 658px;
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 85%;
    height: 60%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.466);
    overflow: hidden;
}

.box_header{
    display: flex;
    background-color: var(--cor2);
    justify-content: center;
    align-items: center;
    height: 65px;
    padding: 20px 0px;
}

.box_header > h1{
    color: white;
    font-size: 2em;
}

.box_conteudo{
    background-color:rgb(255, 255, 255);
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-login{
    display: flex;
    justify-content: center;
    height: 60%;
}

.div-login > form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.div-login > form > label > div{
    margin-bottom: 15px;
}


.barra{
    width: 250px;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-bottom: 5px solid gray;
    border-radius: 5px;
}

.barra::placeholder{
    text-align: center;
    color: rgba(128, 128, 128, 0.5);
    font-size: 1.2em;
}
.barra:hover{
    border-bottom: 5px solid var(--cor1);
}

.barra:focus{
    outline: none;
}

.esquecer{
    align-self: initial;
    font-size: 0.9em;
    
}

.botao{
    background-color: var(--cor2);
    color: white;
    font-weight: bold;
    width: 50%;
    border: transparent;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.39);
}

.criar_conta{
    width: 100%;
    text-align: center;
    font-size: 1.2em;
}

.criar_conta > a{
    color: var(--cor1);
    text-decoration: none;

}
