@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Indie+Flower&display=swap');

/* Configuração para celulares */

:root{
    --cor0: #F77293;
    --cor1: #EB6C8C;
    --cor2: #D1607C; 
    --cor3: #AB4F66;
    --cor4: #6B3140;
    --fonte: 'Fira Sans';
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Fira Sans';
}

html, body{
    height: 100vh;
    background-image: linear-gradient(to right bottom, var(--cor0), var(--cor1))

}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 958px;

}



.box{
    display: flex;
    flex-direction: row;
    position: absolute;
 
    width: 300px;
    height: 528px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.37);
    transition: width 0.15s, height 0.15s;
    transition-timing-function: ease;

    
}
.box_um{
    width: 100%;
}
.box_dois{
    display: none;
}

.decoracao{
    width: 300px;

}

.top_deco {
    position: relative;
    top: -275px;
    width: 100px;
    float: left;
}


.bot_deco{
    position: relative;
    top: 275px;
    width: 100px;
    float: right;
    transform: scaleY(-1);
}
.box_header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 78px;
    background-color: var(--cor2);
    color: white;
}
.header{
    display: none;
}
.box_conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 450px;
}

.box_lateral{
    display: none;
}

form{
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 200px;
}

.barra::placeholder{
    text-align: center;
    color: rgba(128, 128, 128, 0.5);
    font-size: 1.2em;
}

.barra{
    align-self: center;
    width: 100%;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-bottom: 5px solid gray;
    border-radius: 5px;
    text-align: center;
    font-size: 1.1em;
    color: var(--cor2);
}


.barra:hover{
    border-bottom: 5px solid var(--cor0);
}

.barra:focus{
    outline: none;
}

.tentar_e_entrar{
    display: flex;
    font-size: 1em;

}

.tentar_e_entrar > a{
    text-decoration: none;
    color: black;
    
}

.botao{
    align-self: center;
    background-color: var(--cor2);
    color: white;
    font-weight: bold;
    width: 50%;
    border: transparent;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.39);
    cursor: pointer;
}

.botao:hover{
    transform: translateY(-2%);
}

.criar_conta{
    display: flex;
    flex-flow: column;
    text-align: center;
    font-size: 1.2em;
}

.criar_conta > a{
    color: var(--cor1);
    text-decoration: none;

}

a:hover{
    transform: translateY(-3%);
}
