/* Typical Device Breakpoints

==================

Telas pequeneas: até 600px
Celulares: de 600px até 768px
Tablets: de 768px até 992px
Desktops: de 992px até 1200px
Telas grandes: acima de 1200px

====================

*/

@media screen and (min-width: 650px) and (max-width: 950px) {
    #div-atalhos, #hamburguer{
        display: none;
    }
    .itens-menu{
        width: 250px;
    }

    #div-pesquisa{
        margin-bottom: 3.1%
    }

    #atalhos-tablet{
        display: flex;
        align-self: flex-end;
        justify-content: center;
        margin-bottom: 1.6%;
        gap: 30px;
    }
    
    .imagens-tablet{
        width: 85%;
    }


    #navegacao{
        display: block;
        background-color: var(--cor4);
    }
    
    #navegacao > ul{
        list-style: none;
        text-align: center;
        padding: 10px;
    }

    #navegacao > ul > li{
        display: inline-block;
        margin: 0px 15px;
        
    }

    .imagens-tablet:hover, #navegacao > ul > li:hover {
        transform: translate(0%, -3%);
    }
}

@media screen and (min-width: 950px) {
    #div-atalhos, #atalhos-tablet, #hamburguer{
        display: none;
    }

   
    .itens-menu{
        width: 250px;
    }
   #atalhos-fullscreen{
    display: flex;
    align-self: flex-end;
   }

   .imagens-fullscreen{
    width: 50%;
   }

   .div-atalhos-fullscreen{
    display: flex;
    align-items: center;
    font-size: 1em;

   }

    
}