main{
    margin: 100px 0px 50px 0px;
}

.produto{
    display: flex;
    justify-content: center;
    height: 300px;
    gap: 20px;
}

.produto_imagem{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.produto_imagem > img{
    width: 200px;
    height: 300px;
}

.produto_imagem > img:hover{
    width: 220px;
    height: 320px;
    transition: ease .5s;
}

.nome_produto{
    text-align: center;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--cor4);
    margin-bottom: 30px;
}

.produto_detalhes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 150px;
    height: 300px;
    
}

.valor{
    font-size: 1.5em;
    font-weight: bold;
    color: var(--cor2);
    
}


.produto_quantidade{
    display: flex;
    align-self: flex-end;
}

#quantidade{
    width: 50px;
    border: 2px solid var(--cor4);
    border-radius: 15px;
    padding: 2px;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
}

.mais{
    cursor: pointer;
    text-align: center;
    border: transparent;
    background-color: transparent;
    width: 20px;
    font-size: 1.5em;
    color: var(--cor2);

}

.adicionar_carrinho{
    background-color: var(--cor4);
    border: transparent;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
}


.info_produto{
    margin-top: 100px;
    text-align: center;
}

.info_produto > h2{
  
}

.info_produto > hr{
    width: 50%;
    margin: auto;
    background-color: var(--cor4);
}

.info_produto > p{
    margin-top: 20px;
    font-size: 0.9em;
}



.carrinho_novo{
    display: none;
    justify-content: center;
    gap: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 50%;
    border: 2px solid black;
    border-top: transparent;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.397);
    background-color: white;
}

.carrinho_novo > h2{
    background-color: var(--cor2);
    color: white;
    margin-bottom: 20px;
    padding: 20px;
}

.carrinho_novo > div{
    display: flex;
    justify-content: space-evenly;
}
.carrinho_novo > div > img{
    width: 50px;
    height: 100px;
    
}