@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Indie+Flower&display=swap');



:root{
    --cor0: #F77293;
    --cor1: #EB6C8C;
    --cor2: #D1607C; 
    --cor3: #AB4F66;
    --cor4: #6B3140;
    --fonte: 'Fira Sans';
}



*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: white;
}

body {
    background-color: white;
    width: 99vw;
    height: 99vh;

}

header{
    position: relative;
    background-color: var(--cor1);
    height: 180px;
}


#logo{
    position: absolute;
    left: 10%;
    top: 10%;
}

#pesquisar{
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50%);
}

#lupa{
    position: absolute;
    top: 15%;
    left: 2%;
    width: 35px;
    height: 25px;
}

#bbusca {
    width: 600px;
    height: 35px;
    background-color: var(--cor3);
    border: 2px solid var(--cor4);
    border-radius: 10px;
    outline: none;
}


#bbusca::placeholder{
    font: normal 1.2em var(--fonte);
    color: var(--cor1);
    text-align: center;
}

#nav{
    position: absolute;
    left: 75%;
    top: 50%;
    margin: 0px;
}


.header-nav-item{
    display: inline;
    margin-right: 50px;
    font: bold 1.5em var(--fonte);
    color: var(--cor4);
}

#conta{
    width: 40px;
    height: 45px; 
}

.header-nav-item:hover, .categorias:hover {
    transform: translateY(-10%);
    transition: 0.5s;
}

#menu-categorias{
    display: flex;
    column-gap: 50px;
    justify-content: center;
    background-color: var(--cor3);
    padding: 10px 0px 10px 0px;
}

.categorias{
    font: 400 1.2em var(--fonte);
    color: white;
}

footer{
    background-color: var(--cor4);
    text-align: left;
}

.lista-rodape{
    display: inline-block;
    list-style: none;
    margin: 35px;
}

.topico{
    font: bold 1.5em var(--fonte);
    color: var(--cor3);
}

.subtopicos{
    margin: 10px 10px 10px 0px;
    font: 400 1.2em var(--fonte);
    color: white; 
}
