@charset 'UTF-8';

/* Configuração para tablets e ipads */


.menu-mobile{
    display: none;
}

#menu{
    width: 100px;
    display: inline;
    font-size: 20px;
    color: var(--cor4);

}



#pesquisar{
    width: 120px;
}


#conta{
    width: 20%;
    margin-right: 10px;
}

#carrinho{
    width: 15%;
}

#navegacao{
    background-color: var(--cor4);
    text-align: center;
    padding: 15px 0px;
}

#navegacao > li{
    display: inline;
    margin: 15px;
}

#navegacao > li > a{
    color: white;
}

